@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #d2f3eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* All the pages */

.container {
    width: 900px;
}

.title {
    font-family: 'Pacifico';
    font-size: 70px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 10px;
    text-shadow: 5.2px 3.8px  #df691a;
}

.wrapper {
    background-color: #6eb3a254;
    width: 900px;
    border-radius: 20px;
    display: flex;
    padding: 60px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.form-category {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#table-categories {
    width:300px;
}

/* Navbar */

ul {
    display:flex;
    margin:0px;
    justify-content: center;
}

ul li {
    margin: 20px 20px;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* a {
    text-decoration: none; 
    text-align: center;
    /* color:white;
    background-color:#df691a;
    border-radius: 20px;
    text-align:center; */
/* }

a:hover {
    background-color: white;
    color: #df691a;
} */ 

.navbar {
    width: 100%;
}

/* LOGIN/USERS */

form {
    margin:30px;
    margin-bottom:50px;
    display:flex;
    flex-direction: column;
}

form input, select {
    width:250px;
    height:35px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding:5px;
}

form label {
    margin-top:5px;
    padding: 5px 0px;
}


/* .form-group h4 {
    margin:30px;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
} */

.btn-primary {
    width: 150px;
    height: 34px;
    margin-top: 11px;
    font-weight: 500;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    font-size: 17px;
    align-self:center;
    background-color:#ffffff;
    color: #df691a;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn-primary:hover {
    background-color: #df691a;
    color: #fff;
    transform: translateY(-2px);
} 

.btn-secondary {
    /* width: 80px; */
    padding: 5px 15px;
    /* height: 34px; */
    margin-top: 11px;
    font-weight: 500;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    font-size: 17px;
    align-self:center;
    background-color:#ffffff;
    color: #df691a;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn-secondary a {
    /* padding: 20px; */
    text-decoration: none;
    color: #df691a;
}

/* .notification { 
    position: absolute;
    top: 24%;
    left: 57%;
    background-color: red;
    width: 20px;
    border-radius: 50%;
}

.notification-content {
    color: white;
    display: flex;
    justify-content: center;
} */

/* POSTS/TASKS */

/* .posts {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f7f5a2e0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.posts textarea {
    background-color: transparent;
    padding: 10px;
    border: none;
    resize: none;
    overflow: scroll;
    outline: none;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.del-group, .edi-group {
    position: relative;
}

.delete {
    width: 30px;
    position: absolute;
    top: 24%;
    left: 190px;
}

.edit {
    width: 34px;
    position: absolute;
    top: 42%;
    left: 189px;
}
 */

/* li {
    background-color: blueviolet;
} */

.hr {
    width:90%;
    border-top: 1px solid #df691a;
    margin-bottom:45px;
}

.btn-edit {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: white;
    text-decoration: none;
    color: #df691a;
    border-radius: 20px;
}

/* Tasks  */

.types {
    display:flex;
    /* justify-content: space-around; */
}

.status {
    width: 239px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-task {
    width:200px;
    background-color: #fad867;
    margin: 10px;
    color: rgb(75, 75, 75);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    padding: 10px;
}

.buttons-card {
    text-align: center;

}

td {
    margin-left: 20px;
}